body {
  font-family: 'Lora', serif;
  max-width: 1000px;
  margin: auto;
  background-color: black;
  background-repeat: no-repeat;
  color: white;
  overflow-x: hidden;
}

#header {
  border-bottom: 1px solid lightgrey;
}
#header p {
  font-family: 'Parisienne', serif;
  font-size: 48px;
  font-weight: lighter;
}

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}

#quest-list {
  border-right: 1px solid lightgrey;
  padding: 1%;
  max-height: 400px;
  height: auto;
  overflow-y: scroll;
}

#task-list {
  max-height: 400px;
  height: auto;
  overflow-y: scroll;
}

.container {
  max-width: 800px;
  display: none;
}

.nameDisplayArea {
  /* margin-top: 12px; */
  /* float: right; */
  margin-right: 8px;
  color: lightgrey;
}

#nameDisplay, #nameTime {
  color: white;
}

#mini-loading {
  width: 100%;
  height: 36px;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
}

#mini-loading p {
  color: black;
  margin-top: 6px;
  margin-left: 16px;
}

select {
  color: white;
  background-color: transparent;
  height: 38px;
  margin-top: 9px;
  border-color: transparent;
  width: 160px;
}

select:focus {
  border-color: white;
}

select option {
  background-color: black;
}

.small-only {
  display: none;
}

@media (max-width: 900px) {

  #quest-list {
    /* border-bottom: 1px solid lightgrey; */

    border: none;
    padding: 1%;
    /* max-height: 100px; */
    /* display: inline-flex; */
    display: none;
  }

  .small-only {
    display: inline-block;
  }

  .big-only {
    display: none;
  }

  #task-list {
    border-top: 1px solid lightgrey;
    padding: 1%;
    max-height: none;
  }

}

#task-list {
  padding: 1%
}

label {
  display: inline-block;
  width: 12px;
  text-align: left;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  cursor: pointer;
}

.selected {
  font-size: 1.2em;
  text-decoration: underline;
}

input[type="text"] {
  border: none;
  display:inline-block;
  width: 80%;
  background: transparent;
}

input[type="text"]:focus {
  border-style: dashed;
  border-color: white;
  border-radius: 0px;
  border-width: 0px 0px 1px 0px;
  display:inline-block;
}

.modal input[type="text"], .modal input[type="password"] {
  border: solid;
  border-radius: 0px;
  display:inline-block;
  width: 80%;
  background: transparent;
}

#adventure-name {
  border: none;
  display:inline-block;
  width: 50%;
  background: transparent;
}

input[type="file"] {
    display: none;
}

.option {
  text-align: center;
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
}

.button {
  color: lightgrey;
}

button {
  color: lightgrey;
}

.button:hover {
  color: white;
}

button:hover {
  color: white;
}

.modal button {
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightgrey;
  visibility: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}

/* #adventure-arrow {
  font-size: 1em;
  transition: font-size 5s ease-in-out;
}

#adventure-arrow:hover {
  font-size: 4em;
} */
